img {
        width: 25%;
        height: 25%;
}

body {
        margin: 0px;
        font-family: "Lucida Sans Unicode";
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
        margin-top: 60px;
        margin-left: 20px;
}

.header {
        margin-left: 0px;
        margin-right: 0px;

}


li a {
  display: inline-block;
  background-color: black;
  float: left;
  padding: 14px 16px;
  color:white;
  border-right: 2px solid white;
  text-decoration: none;
  font-family: "Lucida Sans Unicode";
}


li a:hover {
        background-color: white;
        color:black;
}


.text-center {
  align-content: center;
}